html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #bef1fd;
}
 /* #E0E0E0; */
 /* #def3fc; */
input,
textarea {
  outline: none;
  caret-color: hotpink;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customModal {
  width: 425px;
  background: linear-gradient(18deg,
      #dee4e8 0%,
      rgb(236 229 228) 25%,
      rgb(239 237 237) 51%,
      #bfdaf3 75%,
      #d5e0ea 100%);


  margin: 0;
  height: 90%;
  padding: 0;


}

@media screen and (max-width: 1200px) {

  html,
  body {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1024px) {

  html,
  body {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 768px) {

  html,
  body {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 425px) {

  html,
  body {
    font-size: 12px !important;
  }

  .customModal {
    width: 100%;
    height: 100%
  }
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 47px);
}